PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/housing_roommate_db?schema=public"

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10

BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Seeder Configurations
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_EMAIL=superadmin@example.com
SUPER_ADMIN_PASSWORD=superadmin_password

TESTER_ADMIN_NAME=Tester Admin
TESTER_ADMIN_EMAIL=testeradmin@example.com
TESTER_ADMIN_PASSWORD=testeradmin_password

TESTER_OWNER_NAME=Tester Owner
TESTER_OWNER_EMAIL=testerowner@example.com
TESTER_OWNER_PASSWORD=testerowner_password

TESTER_TENANT_NAME=Tester Tenant
TESTER_TENANT_EMAIL=testertenant@example.com
TESTER_TENANT_PASSWORD=testertenant_password

# Redis
REDIS_USER=default
REDIS_PASSWORD=your_redis_password
REDIS_HOST=your_redis_host
REDIS_PORT=6379

# SMTP Setup 
SMTP_USER=your_smtp_user@gmail.com
EMAIL_SENDER=your_smtp_user@gmail.com
SMTP_PASSWORD=your_smtp_app_password

# CLOUDINARY Setup
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Payment Integration: bKash
BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_USERNAME=your_bkash_username
BKASH_PASSWORD=your_bkash_password
BKASH_APP_KEY=your_bkash_app_key
BKASH_APP_SECRET=your_bkash_app_secret
BKASH_CALLBACK_URL=http://localhost:5000/api/v1/payments/bkash/callback

