PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/housing_roommate_db?schema=public"
JWT_ACCESS_SECRET="supersecretaccesskey_housing_platform_2026"
JWT_REFRESH_SECRET="supersecretrefreshkey_housing_platform_2026"
JWT_ACCESS_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:3000"
